@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .w-content {
    @apply w-[1200px]
  }
}

@layer base {
  * {
    @apply border-border box-border;
  }



  body {
    @apply bg-background text-foreground font-karla;
  }
}

@layer utilities {
  /* .Playfair_Display_Normal{
    font-family: var(--font-PlayfairDisplay);
    font-weight: 400;
    font-style: normal;
  } */

  .nice-title:after {
    left: calc(50% - 51.5px);
  }

  /* .figure-hover{
    display:
  } */

  .figure-hover:hover .bounch-hover {
    display: block;
  }

  .figure-hover:hover .btn-welcome {
    color: #fff;
    background-color: #63c2ea;
  }

  .animate-mode {
    animation-fill-mode: both;
  }


  .bg-contact{
    background-color: rgb(117 193 222);
  }

  .hotel_facilities::-webkit-scrollbar {
    display: none;
  }

  .transform-slider{
    transform: translate3d(-848px,0,0);
  }


  .special_offer_sub{
    right: calc(50% - 117px);
  }

 

  


}


@layer components {
  .pagination__link {
    @apply font-karla text-[18px] font-bold uppercase no-underline hover:text-[#fe6d6d] inline-flex items-center
  }

  .pagiantion__link--active {
    @apply text-[#fe6d6d]
  }


}