@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .w-content{
    @apply w-[1200px]
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* .Playfair_Display_Normal{
    font-family: var(--font-PlayfairDisplay);
    font-weight: 400;
    font-style: normal;
  } */

  .nice-title:after{
    left: calc(50% - 51.5px);
  }

  .figure-hover:hover .bounch{
    display: block;
  }

  
}
